.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #5A72A0;
}
.login-components{
    margin-top: 8%;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-input-container{
    height: 30rem;
    width: 25%;
    background: rgb(255, 255, 255,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    border-bottom-right-radius: 20px;
}
.login-input-container input[type=text]{
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    outline: none;

}
.wrapper{
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.wrapper input[type="password"]{
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;
    border: none;
}
.wrapper input[type="text"]{
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}
.icon:hover{
    cursor: pointer;
}
.login-input-container input[type="button"]{
    width: 30%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #19376D;
    color: white;
}
.reset-link{
    position: absolute;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15rem;
    color: purple;
}
.image-container{
    height: 30rem;
    width: 25%;
    background-color: white;
    border-top-left-radius: 20px;
    position: relative;
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gradient {
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top-left-radius: 20px;
    background: linear-gradient(120deg,#FC819E , #A0DEFF);
    z-index: 1; 
    text-align: center;
}
.gradient h1{
    color: white;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}
.gradient h2{
    color: black;
    font-size: 2.5rem;
    letter-spacing: 0.2rem ;
}
@media screen and (max-width:1200px) {
    .login-container{
        height: 100vh;
    }
    .login-components{
        margin-top: 13%;
    }
    .image-container{
    border-top-left-radius: 20px;
        width: 40%;
    }
    .login-input-container{
        width: 40%;
        border-bottom-right-radius: 20px;
    }
    .gradient{
    border-top-left-radius: 20px;
    }
}
@media screen and (max-width:1000px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 13%;
    }
    .image-container{
        border-top-left-radius: 0;
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background: rgb(255, 255, 255,0.25);
        

        border-bottom-right-radius: 0;
    }
    .gradient{
        border-top-left-radius: 0;
    }
}
@media screen and (max-width:800px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 15%;
    }
    .image-container{
        border-top-left-radius: 0;
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background: rgb(255, 255, 255,0.25);
        
        
        border-bottom-right-radius: 0;
    }
    .gradient{
        border-top-left-radius: 0;
    }
}
@media screen and (max-width:650px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 20%;
    }
    .login-components{
        flex-direction: column;
    }
    .image-container{
        border-top-left-radius: 0;
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background-color: #5A72A0;

        border-bottom-right-radius: 0;
    }
    .gradient{
        border-top-left-radius: 0;
    }
}
@media screen and (max-width:500px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 30%;
    }
    .login-components{
        flex-direction: column;
    }
    .image-container{
        border-top-left-radius: 0;
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background-color: #5A72A0;

        border-bottom-right-radius: 0;
    }
    .gradient{
        border-top-left-radius: 0;
    }
}
@media screen and (max-width:400px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 40%;
    }
    .login-components{
        flex-direction: column;
    }
    .image-container{
        border-top-left-radius: 0;
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background-color: #5A72A0;

        border-bottom-right-radius: 0;
    }
    .gradient{
        border-top-left-radius: 0;
    }
}

@media screen and (max-width:300px) {
    .login-container{
        height: auto;
    }
    .login-components{
        margin-top: 50%;
    }
    .login-components{
        flex-direction: column;
    }
    .image-container{
        width: 100%;
    }
    .login-input-container{
        width: 100%;
        /* background: linear-gradient(120deg,#A0DEFF,#F6FDC3) ; */
        background-color: #5A72A0;
        border-bottom-right-radius: 0;
    }
}