.pet-container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.8rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 3rem;
}
.pet-card{
    flex: 0 0 45%;
    height: 18rem;
    background-color: #E0A75E;
    border-radius: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 0.6rem;
    gap: 0.8rem;
}
.pet-image{
    background-color: red;
    height: 100%;
    width: 40%;
    border-radius: 15px;
}
.pet-details{
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    padding: 0.8rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction: column;
}
.name{
    font-size: 1.8rem;
    font-weight: 600;
}
.age{
    font-size: 1.3rem;
    font-weight: 400;
}
.breed{
    font-size: 1.5rem;
    font-weight: 500;
}
